@font-face {
  font-family: 'Gothic A1 Light';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Gothic A1/GothicA1-Light.woff2") format("woff2");
}

@font-face {
  font-family: 'Gothic A1 Medium';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Gothic A1/GothicA1-Medium.woff2") format("woff2");
}

@font-face {
  font-family: 'Gothic A1 Bold';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Gothic A1/GothicA1-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'Kalam Bold';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Kalam/Kalam-Bold.woff2") format("woff2");
}

* {
  color: #BEBEBE;
  background-color: #101010;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

ul {
  list-style-type: none !important;
}

a {
  text-decoration: none !important;
}

/* Header */
.sticky {
  background-color: #101010;
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  top: 0;
}

.logo {
  width: 105px;
  height: 100px;
}

.btn-register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  cursor: pointer;
}

.btn-register i {
  font-size: 1.6rem;
  opacity: 65%;
}

.btn-register span {
  font-family: 'Gothic A1 Medium';
  font-size: 0.8rem;
  letter-spacing: 0.035em;
  color: #BEBEBE;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  white-space: nowrap;
}

.btn-register:hover i {
  -webkit-transition: ease-out 150ms;
  transition: ease-out 150ms;
  opacity: 100%;
}

.btn-register:hover span {
  -webkit-transition: ease-out 150ms;
  transition: ease-out 150ms;
  color: #FFF;
}

.btn-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  cursor: pointer;
}

.btn-login i {
  font-size: 1.6rem;
  opacity: 65%;
}

.btn-login span {
  font-family: 'Gothic A1 Medium';
  font-size: 0.8rem;
  letter-spacing: 0.035em;
  color: #BEBEBE;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  white-space: nowrap;
}

.btn-login:hover i {
  -webkit-transition: ease-out 150ms;
  transition: ease-out 150ms;
  opacity: 100%;
}

.btn-login:hover span {
  -webkit-transition: ease-out 150ms;
  transition: ease-out 150ms;
  color: #FFF;
}

.list-item a {
  color: #BEBEBE;
  letter-spacing: 0.03em;
  font-family: 'Gothic A1 Light';
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.list-item a:hover {
  color: #FFf;
}

.nav-icon {
  width: 42px;
  height: 22px;
  cursor: pointer;
}

.nav-icon .first-line {
  display: block;
  position: relative;
  width: 42px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: -webkit-transform 250ms ease-out;
  transition: -webkit-transform 250ms ease-out;
  transition: transform 250ms ease-out;
  transition: transform 250ms ease-out, -webkit-transform 250ms ease-out;
}

.nav-icon .second-line {
  display: block;
  position: relative;
  width: 42px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: -webkit-transform 250ms ease-out;
  transition: -webkit-transform 250ms ease-out;
  transition: transform 250ms ease-out;
  transition: transform 250ms ease-out, -webkit-transform 250ms ease-out;
}

.nav-icon .last-line {
  display: block;
  position: relative;
  width: 42px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: -webkit-transform 250ms ease-out;
  transition: -webkit-transform 250ms ease-out;
  transition: transform 250ms ease-out;
  transition: transform 250ms ease-out, -webkit-transform 250ms ease-out;
}

.nav-icon .cbox {
  position: absolute;
  cursor: pointer;
  opacity: 0%;
  width: 42px;
  height: 22px;
  z-index: 1;
}

.nav-icon .cbox:checked + div .first-line {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 5px;
}

.nav-icon .cbox:checked + div .second-line {
  display: none;
}

.nav-icon .cbox:checked + div .last-line {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 5px;
}

.mobile-nav {
  display: none;
  width: 100%;
  height: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#101010), to(rgba(255, 213, 0, 0.45)));
  background: linear-gradient(180deg, #101010 0%, rgba(255, 213, 0, 0.45) 100%);
}

.mobile-nav ul {
  background: transparent;
}

.mobile-nav ul li {
  background: transparent;
}

.mobile-nav ul li a {
  cursor: pointer;
  background: transparent;
  color: #fff;
  font-family: "Gothic A1 Medium";
  letter-spacing: 0.12em;
}

/* ------------------ */
/* Main Section */
.top-content {
  width: 100%;
}

.top-content h1 {
  font-family: "Kalam Bold";
  font-size: 52px;
  letter-spacing: 0.025em;
  cursor: default;
}

.top-content h1 span {
  color: #ffc918;
}

.top-content p {
  font-family: "Gothic A1 Light";
  color: #BEBEBE;
  letter-spacing: 0.01em;
}

.top-content a {
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.top-content a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.top-content a i:hover {
  color: #ffc918;
}

.bottom-content h6 {
  font-family: 'Gothic A1 Bold';
  letter-spacing: 0.01em;
}

.bottom-content p {
  color: #8d8d8d;
  font-family: 'Gothic A1 Medium';
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.mx-auto-ni {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .md-ml-auto {
    margin-left: auto;
    margin-right: 0;
  }
}

.image-content img {
  background-repeat: no-repeat;
  max-width: 60rem;
  max-height: 100rem;
  width: 100%;
  -webkit-box-shadow: 0 0px 20px rgba(255, 213, 0, 0.25);
          box-shadow: 0 0px 20px rgba(255, 213, 0, 0.25);
}

.image-content h6 {
  font-family: 'Gothic A1 Bold';
  letter-spacing: 0.01em;
}

.image-content p {
  color: #8d8d8d;
  font-family: 'Gothic A1 Medium';
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.image-content i {
  cursor: pointer;
  -webkit-transition: -webkit-transform 150ms ease-out;
  transition: -webkit-transform 150ms ease-out;
  transition: transform 150ms ease-out;
  transition: transform 150ms ease-out, -webkit-transform 150ms ease-out;
}

.image-content i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.buy-button {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
  border: 0;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 213, 0, 0.85)), color-stop(97.92%, rgba(255, 213, 0, 0.25)));
  background: linear-gradient(270deg, rgba(255, 213, 0, 0.85) 0%, rgba(255, 213, 0, 0.25) 97.92%);
  border-radius: 5px;
  -webkit-transition: -webkit-transform 200ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
  transition: transform 200ms ease-in-out, box-shadow 300ms ease-in-out;
  transition: transform 200ms ease-in-out, box-shadow 300ms ease-in-out, -webkit-transform 200ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
  -webkit-box-shadow: 0 5px 50px rgba(255, 213, 0, 0.2);
          box-shadow: 0 5px 50px rgba(255, 213, 0, 0.2);
}

.buy-button h6 {
  font-size: 14px;
  font-family: "Gothic A1 Bold";
  color: #FFF;
}

.buy-button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 5px 50px rgba(255, 213, 0, 0.35);
          box-shadow: 0 5px 50px rgba(255, 213, 0, 0.35);
}

.play-button {
  cursor: pointer;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.play-button i {
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
  color: #d3a715;
}

.play-button h6 {
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
  color: #BEBEBE;
}

.play-button:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.play-button:hover i {
  color: #ffc918;
}

.play-button:hover h6 {
  color: #fff;
}

/* ---------- - */
/* Prices Section */
.headline {
  font-family: "Kalam Bold";
  text-shadow: 1px 1px 4px #ffc918;
}

.headline strong {
  color: #ffc918;
}

.pricing-card {
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 10px 20px rgba(255, 213, 0, 0.2);
          box-shadow: 0 10px 20px rgba(255, 213, 0, 0.2);
  border: 2px solid rgba(255, 213, 0, 0.2);
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
  font-family: "Gothic A1 Bold";
}

.pricing-card .secondary-color {
  color: #d3a715;
  font-family: "Gothic A1 Medium";
  font-size: 32px;
}

.pricing-card span {
  font-size: 76px;
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
}

.pricing-card h5 {
  color: #999999;
}

.pricing-card button {
  color: #999999;
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
  border: 2px solid rgba(255, 213, 0, 0.2);
}

.pricing-card button:hover {
  color: #fff;
  border: 2px solid #ffc918;
  -webkit-box-shadow: 0 10px 20px rgba(255, 213, 0, 0.2);
          box-shadow: 0 10px 20px rgba(255, 213, 0, 0.2);
}

.pricing-card:hover {
  border: 2px solid #ffc918;
}

.pricing-card:hover .secondary-color {
  color: #ffc918;
}

@media (max-width: 768px) {
  .pricing-card {
    border: 2px solid #ffc918;
  }
  .pricing-card button {
    color: #fff;
    border: 2px solid #ffc918;
    -webkit-box-shadow: 0 10px 20px rgba(255, 213, 0, 0.2);
            box-shadow: 0 10px 20px rgba(255, 213, 0, 0.2);
  }
  .pricing-card .secondary-color {
    color: #ffc918;
  }
}

/* -------------- */
/* FAQ Section */
.faq-content {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.faq-header {
  cursor: pointer;
  border-bottom: 2px solid #ffc918;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.faq-header .faq-headline {
  font-family: "Gothic A1 Medium";
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #FFF;
  margin: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.faq-header .faq-headline i {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.active {
  color: #ffc918 !important;
}

.faq-body {
  text-align: left;
  line-height: 22px;
  border: 2px solid #ffc918;
  border-top: 0px;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.faq-body .faq-text {
  font-family: "Gothic A1 Light";
  margin: 0;
}

/* ----------- */
/* Footer Section */
footer .footer-link {
  color: #8d8d8d;
  font-family: 'Gothic A1 Medium';
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

footer .footer-link:hover {
  color: #BEBEBE;
}

footer p {
  color: #8d8d8d;
  font-family: 'Gothic A1 Medium';
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

/* -------------- */
/* Login/Register */
.modal {
  background-color: #101010;
}

.modal-content {
  background-color: #101010 !important;
  -webkit-box-shadow: 0px 0px 55px rgba(255, 213, 0, 0.75);
          box-shadow: 0px 0px 55px rgba(255, 213, 0, 0.75);
  text-align: center;
  font-family: "Gothic A1 Medium";
}

.modal-content h1 {
  font-family: "Kalam Bold";
  font-size: 36px;
}

.modal-content h1 span {
  color: #ffc918;
}

.modal-content button {
  padding: 22px;
  color: #FFF;
  border: 0;
  border-radius: 0.25rem;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 213, 0, 0.7)), to(rgba(255, 213, 0, 0.2)));
  background: linear-gradient(270deg, rgba(255, 213, 0, 0.7), rgba(255, 213, 0, 0.2));
  -webkit-transition: -webkit-box-shadow 250ms ease-in-out;
  transition: -webkit-box-shadow 250ms ease-in-out;
  transition: box-shadow 250ms ease-in-out;
  transition: box-shadow 250ms ease-in-out, -webkit-box-shadow 250ms ease-in-out;
}

.modal-content button:hover {
  -webkit-box-shadow: 0 0 28px rgba(255, 213, 0, 0.4);
          box-shadow: 0 0 28px rgba(255, 213, 0, 0.4);
}

.modal-content a {
  color: #8d8d8d;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.modal-content a:hover {
  color: #BEBEBE;
}

.modal-content p {
  color: #BEBEBE;
  font-size: 14px;
  font-family: "Gothic A1 Light";
}

.modal-content p a {
  color: #ffc918;
  -webkit-transition: color 200ms ease-in;
  transition: color 200ms ease-in;
}

.modal-content p a:hover {
  color: #FFF;
}

.modal-input input {
  outline: none;
  width: 90%;
  background-color: #090909;
  border: 0;
  border-radius: 0.5rem;
  margin-left: 16px;
  margin-right: 16px;
  padding: 12px;
}

/* ------------------ */
/* Loading Screen */
.loading {
  position: fixed;
  z-index: 500;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #101010;
}

.loading .loading-animation {
  position: relative;
  height: 85px;
  width: 85px;
}

.loading .loading-animation::before, .loading .loading-animation::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffc918;
  -webkit-animation: pulse 2s linear infinite;
          animation: pulse 2s linear infinite;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

.loading .loading-animation::after {
  -webkit-animation-delay: calc(2s / -2);
          animation-delay: calc(2s / -2);
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

/* ------------ */
/*# sourceMappingURL=style.css.map */